# gitiggnore file for ViperChessEngine

# general catch for do-not-commit files
*.do-not-commit
*.do-not-track
*.do-not-push
*.wip*

# ignore project resource files
*.viper_chess_engine
*.viper_chess_engine.*

# ignore project resource directories
.viper_chess_engine_project_files/
/.viper_chess_engine_project_files/*

# ignore puzzles directory
/puzzles/
puzzles/

# ignore .csv files
*.csv

# ignore .jsonl files
*.jsonl

# ignore the evaluation directory
/evaluation/
evaluation/

# ignore the training directory
/training/
training/

# ignore the testing directory
/testing/
testing/

# ignore the models directory
/models/
models/

# ignor pytorch model files
*.pt

# ignore tensorflow model files
*.h5

# ignore logging directory
/logging/
logging/

# ignore _pycache directory
__pycache__/

# ignore .pyc files
*.pyc

# ignore .pyo files
*.pyo

# ignore .pyd files
*.pyd   

# ignore .egg-info directory
*.egg-info/

# ignore .egg files
*.egg

# ignore .DS_Store files
.DS_Store

# ignore .vscode directory
.vscode/

# ignore .history directory
.history/

# ignore the stockfish directory
/stockfish/
stockfish/

# ignore unecessary files in the root directory
*.log
*.tmp
*.bak

# ignore the venv directory
/venv/
venv/

# ignore docker files
Dockerfile
docker-compose.yml
